name: Lint & Test

on: push

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    name: Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup UV
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - run: make install-dev
        env:
          PYO3_USE_ABI3_FORWARD_COMPATIBILITY: 1

      - run: make lint

      - run: make coverage
