name: Test Docs

on: push

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    name: Test Docs

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.10'

      - run: make install-docs

      - run: make test-docs
